---
layout: home
title:
---

<p class="lead">{{ site.name }} is designed to be a simple and elegant solution to adding a DateTime picker to web UIs. After years of being unsatisfied with existing solutions, it became time to control ones own destiny. Hence the birth of this widget, which can be used without having to write a bunch of custom JavaScript.</p>
<hr>
{% include start.html %}
<hr>
{% include documentation.html %}
<hr>
{% include build.html %}
<hr>
{% include contributors.html %}
<hr>
{% include license.html %}
