<div id="documentation">
  <h2>Documentation</h2>
  <p class="lead">
    {{ site.name }} leverages <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> classes which allows you to customize the look and feel of {{ site.name }} by customizing <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>. There are two ways to get started with {{ site.name }}:
  </p>
  <ol>
    <li>
      <p>
        Automatically apply {{ site.name }} to all <em>datetime</em>, <em>date</em>, and <em>time</em> inputs with the following JavaScript:
        <br>
        <code>
          bootstrapDateTime.auto();
        </code>
      </p>
    </li>
    <li>
      <p>
        Apply {{ site.name }} to only certain DOM elements using a jQuery selector (In this example apply {{ site.name }} to all DOM elements with the class <em>enhancify</em>):
        <br>
        <code>
          bootstrapDateTime.bind('.enhancify');
        </code>
      </p>
    </li>
  </ol>
  <p class="lead">
    Below is an example of {{ site.name }} on all three input types: <em>datetime</em>, <em>date</em>, and <em>time</em>.
  </p>
  <form class="form-horizontal col-sm-4">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="datetime">DateTime</label>
      <div class="col-sm-8">
        <input class="form-control" id="datetime" type="datetime">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="date">Date</label>
      <div class="col-sm-8">
        <input class="form-control" id="date" type="date">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="time">Time</label>
      <div class="col-sm-8">
        <input class="form-control" id="time" type="time">
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
</div>
<script>
  bootstrapDateTime.auto();
</script>