<div id="documentation">
  <h2>Documentation</h2>
  <p class="lead">
    {{ site.name }} leverages <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> classes which means if you have a customized version of <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>, {{ site.name }} will automatically take on your customizations.</p>
  <p class="lead">
    Dependencies
    <ol>
      <li>
        <a href="http://jquery.com/" target="_blank">jQuery</a>
      </li>
      <li>
        <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
      </li>
      <li>
        <a href="http://momentjs.com/" target="_blank">Moment.js</a>
      </li>
    </ol>
    Make sure to include required stylesheets and scripts like so (making sure paths point to your actual files):
    <pre>&lt;link href="bootstrap.min.css" rel="stylesheet"&gt;
&lt;link href="bootstrap-datetime.min.css" rel="stylesheet"&gt;

&lt;script src="jquery.min.js"&gt;&lt;/script&gt;
&lt;script src="bootstrap.min.js"&gt;&lt;/script&gt;
&lt;script src="moment.min.js"&gt;&lt;/script&gt;
&lt;script src="bootstrap-datetime.min.js"&gt;&lt;/script&gt;</pre>
  </p>
  <p class="lead">
    There are a few ways to get started with {{ site.name }}:
  </p>
  <ol>
    <li>
      <p>
        Automatically apply {{ site.name }} to all <em>datetime</em>, <em>date</em>, and <em>time</em> inputs with the following JavaScript:
        <pre>bootstrapDateTime.auto();</pre>
        <span class="text-info">
          Note: The inputs must exist in the DOM before calling this line of code. To be safe you may want to add it to jQuery document ready like so:
        </span>
<pre>jQuery(function () {
  bootstrapDateTime.auto();
});</pre>
      </p>
    </li>
    <li>
      <p>
        Apply {{ site.name }} to only certain DOM elements using a jQuery selector (In this example apply {{ site.name }} to all DOM elements with the class <em>enhancify</em>):
        <pre>bootstrapDateTime.bind('.enhancify');</pre>
      </p>
    </li>
    <li>
      <p>
        Apply {{ site.name }} to a jQuery object (In this example apply {{ site.name }} to all DOM elements with the class <em>enhancify</em>).
        <pre>var elements = jQuery('.enhancify');
bootstrapDateTime.bind(elements);</pre>
      </p>
    </li>
    <li>
      <p>
        Apply {{ site.name }} to a DOM element (In this example apply {{ site.name }} to DOM element with the id <em>enhancify</em>).
        <pre>var element = document.getElementById('enhancify');
bootstrapDateTime.bind(element);</pre>
      </p>
    </li>
  </ol>
  <p class="lead">
    Below is an example of {{ site.name }} on all three input types: <em>datetime</em>, <em>date</em>, and <em>time</em>.
  </p>
  <form class="form-horizontal col-sm-4">
    <div class="form-group">
      <label class="col-sm-4 control-label" for="datetime">DateTime</label>
      <div class="col-sm-8">
        <input class="form-control" id="datetime" type="datetime">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="date">Date</label>
      <div class="col-sm-8">
        <input class="form-control" id="date" type="date">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label" for="time">Time</label>
      <div class="col-sm-8">
        <input class="form-control" id="time" type="time">
      </div>
    </div>
  </form>
  <div class="clearfix"></div>
  <p class="lead">
    {{ site.name }} currently does not have any configuration options but plans to add these are in the pipeline. Future configuration options will include things like 12 hour vs 24 hour time, Date/Time format string, among others.
  </p>
</div>
<script>
  bootstrapDateTime.auto();
</script>