<div id="getting-started">
  <h2>Getting Start</h2>
  <p class="lead">To start using {{ site.name }} choose one of the steps below.</p>
  <ol>
    <li>
      <p>
        Clone the repository with the following command:
        <br>
        <code>git clone {{ site.repo }}</code>
      </p>
    </li>
    <li>
      <p>
        Install via <a href="http://bower.io/" target="_blank">bower</a> with the following command:
        <br>
        <code>bower install {{ site.repo }}</code>
      </p>
    </li>
  </ol>
</div>
