div.popover.bottom.datetime-popover
  div.arrow
  div.popover-title.text-center
    a.btn.btn-xs.btn-default
      span.glyphicon.glyphicon-chevron-left(data-id="previous-btn")
    h3.panel-title
    a.btn.btn-xs.btn-default(data-id="next-btn")
      span.glyphicon.glyphicon-chevron-right
  div.popover-content(data-id="date-content")
    table.table.table-condensed.table-striped
      thead
        tr
  div.popover-content(data-id="time-content")
  div.panel-footer
    a.btn.btn-xs.btn-default(data-id="today-btn")
    div.btn-group.btn-group-xs.pull-right(data-id="datetime-btns")
      a.btn.btn-default.active(data-id="date-btn")
        span.glyphicon.glyphicon-calendar
      a.btn.btn-default(data-id="time-btn")
        span.lyphicon.glyphicon-time
    div.clearfix
